* {
  background-color: aliceblue;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
} 

.App {
  border: 3px solid black;
  margin: 20px;
  padding-left: 10px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}